openapi: 3.0.1
info:
  title: Dayforce API
  version: v1
  x-service-version: 66.1.1.15016
servers:
  - url: https://ustest241-services.dayforcehcm.com/Api
paths:
  /{clientNamespace}/v1/GetEmployeeBulkAPI:
    post:
      tags:
        - AmfBulkAPI
      summary: Add new HR Bulk Export details into Job Queue tables.
      operationId: AmfBulkAPI_Post_By_export_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: This parameter used to run a test case without fail
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The JSON-formatted content containing the data entities and elements to be processed in POST. For more information and examples, please refer to the Dayforce Web Services RESTful Developer's Guide.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeExportParams'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeExportParams'
          text/html:
            schema:
              $ref: '#/components/schemas/EmployeeExportParams'
        required: true
      responses:
        '200':
          description: A HR Bulk Export is created with an empty response body.
          content:
            application/json: {}
            text/json: {}
            text/html: {}
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_String'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_String'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_String'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_String'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_String'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_String'
  /{clientNamespace}/v1/GetEmployeeBulkAPI/Status/{backgroundJobQueueItemId}:
    get:
      tags:
        - AmfBulkAPI
      summary: Get the status of Job Queue tables.
      operationId: AmfBulkAPI_Get_By_backgroundJobQueueItemId_clientNamespace
      parameters:
        - name: backgroundJobQueueItemId
          in: path
          description: To find a status of employee export background job
          required: true
          schema:
            type: integer
            format: int32
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: Job Status and Access API URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/v1/GetEmployeeBulkAPI/Data/{jobId}:
    get:
      tags:
        - AmfBulkAPI
      summary: Get bulk employee of data as a string in json format
      operationId: AmfBulkAPI_Get_By_jobId_clientNamespace
      parameters:
        - name: jobId
          in: path
          description: To get background job processed data for employee export
          required: true
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: Returns a page of employee data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_Employee'
            text/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_Employee'
            text/html:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_Employee'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/Analytics/Reports:
    get:
      tags:
        - AnalyticsReports
      summary: Get Reports
      description: "<h3>Description</h3>\r\n<p>The Get reports request allows the consuming application to retrieve a list of available reports.</p>"
      operationId: AnalyticsReports_GetReports_By_clientNamespace
      parameters:
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_AnalyticsReportDefinitions'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_AnalyticsReportDefinitions'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_AnalyticsReportDefinitions'
        '204':
          description: No reports available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_Object'
              example: ''
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_Object'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/Analytics/Datasets/{datasetId}:
    get:
      tags:
        - AnalyticsReports
      summary: Get Dataset
      description: "<h3>Description</h3>\r\n<p>The Get Dataset request allows the consuming application to retrieve the contents of a report's Dataset.</p>\r\n<p>Optional PGP Encryption : Please add <b>PGPKey</b> to the header to enable public encryption key for secure communication.</p>"
      operationId: AnalyticsReports_GetDatasetAsync_By_datasetId_page_DatasetPageSize_clientNamespace
      parameters:
        - name: datasetId
          in: path
          description: Uniquely identifies a dataset.
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
        - name: DatasetPageSize
          in: query
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: Contents of a dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportDataset'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportDataset'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportDataset'
        '204':
          description: The dataset is not available or empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportDataset'
              example: ''
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportDataset'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportDataset'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
    post:
      tags:
        - AnalyticsReports
      summary: Refresh Dataset
      description: "<h3>Description</h3>\r\n<p>The Refresh Dataset request allows the consuming application to refresh the contents of a report's Dataset.</p>"
      operationId: AnalyticsReports_RefreshDatasetAsync_By_reqBody_datasetId_isValidateOnly_clientNamespace
      parameters:
        - name: datasetId
          in: path
          description: Uniquely identifies a dataset.
          required: true
          schema:
            type: string
        - name: isValidateOnly
          in: query
          description: This parameter is applied here for testing purposes. Please remember to remove it when utilizing this endpoint to actually refresh the dataset
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsReportMetadata'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalyticsReportMetadata'
          text/html:
            schema:
              $ref: '#/components/schemas/AnalyticsReportMetadata'
        required: true
      responses:
        '200':
          description: Status of a dataset refresh and its metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadataResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadataResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadataResponse'
        '204':
          description: The dataset has no content and is not available for a refresh
          content:
            application/json:
              example: ''
            text/json: {}
            text/html: {}
        '400':
          description: The guid provided is not a valid guid.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '422':
          description: We were unable to refresh this dataset, but the original dataset is still available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadataResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadataResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadataResponse'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/Analytics/Reports/{reportId}:
    post:
      tags:
        - AnalyticsReports
      summary: Create Dataset
      description: "<h3>Description</h3>\r\n<p>The Create Dataset request allows the consuming application to trigger the creation of a dataset for the ad hoc report specified in this call.</p>"
      operationId: AnalyticsReports_CreateReportAsync_By_reqBody_reportId_isValidateOnly_clientNamespace
      parameters:
        - name: reportId
          in: path
          description: Uniquely identifies a report.
          required: true
          schema:
            type: integer
            format: int32
        - name: isValidateOnly
          in: query
          description: This parameter is applied here for testing purposes. Please remember to remove it when utilizing this endpoint to actually post the report
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsReportMetadata'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalyticsReportMetadata'
          text/html:
            schema:
              $ref: '#/components/schemas/AnalyticsReportMetadata'
        required: true
      responses:
        '200':
          description: Metadata of a dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadata'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadata'
        '204':
          description: No report available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example: ''
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/Analytics/Datasets/{datasetId}/Metadata:
    get:
      tags:
        - AnalyticsReports
      summary: Get Dataset Metadata
      description: "<h3>Description</h3>\r\n<p>The Get Dataset Metadata request allows the consuming application to retrieve the metadata (status and row) related to the report's dataset.</p>\r\n<p>\r\n                Note: “Refresh Status” is not displayed when the dataset has not been refreshed or during “Processing” or “Requested” statuses <br />\r\n                Note: “Row count” is not displayed during “Requested” status <br />\r\n                Note: “Filters” and “Parameters” are not displayed during “Processing” or “Requested” statuses <br /></p>"
      operationId: AnalyticsReports_GetDatasetMetadataAsync_By_datasetId_clientNamespace
      parameters:
        - name: datasetId
          in: path
          description: Uniquely identifies a dataset.
          required: true
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: Metadata of a dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadata'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsDatasetMetadata'
        '204':
          description: The metadata is not available or empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example: ''
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/Analytics/Reports/{reportId}/Metadata:
    get:
      tags:
        - AnalyticsReports
      summary: Get Report Metadata
      description: "<h3>Description</h3>\r\n<p>The Get Report Metadata request allows the consuming application to retrieve the metadata (fields, filters, etc.) of a report.</p>"
      operationId: AnalyticsReports_GetReportMetadata_By_reportId_clientNamespace
      parameters:
        - name: reportId
          in: path
          description: Uniquely identifies a report.
          required: true
          schema:
            type: integer
            format: int32
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: Metadata of the report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_AnalyticsReportMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_AnalyticsReportMetadata'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_AnalyticsReportMetadata'
        '204':
          description: No metadata available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportMetadata'
              example: ''
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportMetadata'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_AnalyticsReportMetadata'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/Employees/{xRefCode}/SSOAccounts:
    get:
      tags:
        - AppUserSSO
      summary: GET AppUserSSO Details
      operationId: AppUserSSO_Get_By_xRefCode_contextDate_contextDateRangeFrom_contextDateRangeTo_clientNamespace
      parameters:
        - name: xRefCode
          in: path
          description: The unique identifier (external reference code) of the employee whose data will be retrieved.  The value provided must be the exact match for an employee; otherwise, a bad request (400) error will be returned.
          required: true
          schema:
            type: string
        - name: contextDate
          in: query
          description: 'The Context Date value is an “as-of” date used to determine which employee data to search when records have specific start and end dates.  The service defaults to the current datetime if the requester does not specify a value.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: contextDateRangeFrom
          in: query
          description: 'The Context Date Range From value is the start of the range of dates used to determine which employee data to search when records have specific start and end dates.  The service defaults to null if the requester does not specify a value.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: contextDateRangeTo
          in: query
          description: 'The Context Date Range To value is the end of the range of dates to determine which employee data to search when records have specific start and end dates.  The service defaults to null if the requester does not specify a value.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: The AppUserSSO with the requested XRefCode.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_EmployeeSSOAccount'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_EmployeeSSOAccount'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_EmployeeSSOAccount'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
    post:
      tags:
        - AppUserSSO
      summary: POST a AppUserSSO
      operationId: AppUserSSO_Post_By_ssoInfo_xRefCode_isValidateOnly_clientNamespace
      parameters:
        - name: xRefCode
          in: path
          description: The unique identifier (external reference code) of the employee for whom the subordinate data will be updated.  The value provided must be the exact match for an employee; otherwise, a bad request (400) error will be returned.
          required: true
          schema:
            type: string
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The JSON-formatted content containing the data entities and elements to be processed in POST and PATCH operations.  For more information and examples, please refer to the Dayforce Web Services RESTful Developer's Guide.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeSSOAccount'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeSSOAccount'
          text/html:
            schema:
              $ref: '#/components/schemas/EmployeeSSOAccount'
        required: true
      responses:
        '200':
          description: An Employee is created, no response body.
          content:
            application/json: {}
            text/json: {}
            text/html: {}
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
    patch:
      tags:
        - AppUserSSO
      summary: PATCH a AppUserSSO
      operationId: AppUserSSO_Patch_By_ssoInfo_xRefCode_isValidateOnly_clientNamespace
      parameters:
        - name: xRefCode
          in: path
          description: The unique identifier (external reference code) of the employee for whom the subordinate data will be updated.  The value provided must be the exact match for an employee; otherwise, a bad request (400) error will be returned.
          required: true
          schema:
            type: string
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The JSON-formatted content containing the data entities and elements to be processed in POST and PATCH operations.  For more information and examples, please refer to the Dayforce Web Services RESTful Developer's Guide.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeSSOAccount'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeSSOAccount'
          text/html:
            schema:
              $ref: '#/components/schemas/EmployeeSSOAccount'
        required: true
      responses:
        '200':
          description: The AppUserSSO is updated, no response body.
          content:
            application/json: {}
            text/json: {}
            text/html: {}
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
  /{clientNamespace}/V1/Employees/{employeeXRefCode}/SSOAccounts/{loginName}:
    delete:
      tags:
        - AppUserSSO
      summary: Delete an SSOAccount entry that has matching {loginName}
      operationId: AppUserSSO_Delete_By_employeeXRefCode_loginName_isValidateOnly_clientNamespace
      parameters:
        - name: employeeXRefCode
          in: path
          description: "The unique identifier (external reference code) of the employee for whom the subordinate data will be deleted.\r\nThe value provided must be the exact match for an employee; otherwise, a bad request (400) error will be returned."
          required: true
          schema:
            type: string
        - name: loginName
          in: path
          description: The loginName of the SSOAccount to be deleted from this Employee
          required: true
          schema:
            type: string
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, this operation is validated without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: An SSO Account is deleted for this Employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_SubordinateEntityReferences'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_SubordinateEntityReferences'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_SubordinateEntityReferences'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
  /{clientNamespace}/V1/Employees/{xRefCode}/Availability:
    get:
      tags:
        - Employees
      summary: GET List of Employee Availability
      operationId: Availability_Get_By_xRefCode_filterAvailabilityStartDate_filterAvailabilityEndDate_clientNamespace
      parameters:
        - name: xRefCode
          in: path
          description: The unique identifier (external reference code) of the employee to be retrieved.  The value provided must be the exact match for an employee; otherwise, a bad request (400) error will be returned.
          required: true
          schema:
            type: string
        - name: filterAvailabilityStartDate
          in: query
          description: 'Inclusive period start date to determine which employee availability data to retrieve . Example: 2017-01-01T00:00:00'
          required: true
          schema:
            type: string
            format: date-time
        - name: filterAvailabilityEndDate
          in: query
          description: 'Inclusive period end date to determine which employee availability data to retrieve . Example: 2017-01-01T00:00:00'
          required: true
          schema:
            type: string
            format: date-time
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of employee availability meeting the search criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_EmployeeAvailability'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_EmployeeAvailability'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_EmployeeAvailability'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/{employeeXRefCode}/EmployeeAvailability:
    post:
      tags:
        - Availability
      summary: Post Employee Availablity
      operationId: Availability_Post_By_employeeXRefCode_employeeAvailability_isValidateOnly_clientNamespace
      parameters:
        - name: employeeXRefCode
          in: path
          required: true
          schema:
            type: string
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST operation validates the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeAvailabilityPostAPIRequestDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeAvailabilityPostAPIRequestDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/EmployeeAvailabilityPostAPIRequestDTO'
        required: true
      responses:
        '200':
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_ProcessResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_ProcessResult'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_ProcessResult'
        '400':
          description: Request is malformed or has validation errors.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/BackgroundJobLogs:
    get:
      tags:
        - BackgroundJobLogs
      summary: GET List of Background Job Logs
      operationId: BackgroundJobLog_Get_By_pageSize_codeName_status_hasItemLevelErrors_queueTimeUtcStart_queueTimeUtcEnd_wasScheduled_submittedBy_filterUpdateTimeUtcStart_filterUpdateTimeUtcEnd_includeSuppressedTaskTypes_clientNamespace
      parameters:
        - name: pageSize
          in: query
          description: Use to specify the number of records returned per page in the paginated response. This value will be constrained to be between 1 and 10,000 (default is 1,000).
          schema:
            type: integer
            format: int32
        - name: codeName
          in: query
          description: Use to search for background job logs using a comma separated list of code names. If omitted, all job code names are included.
          schema:
            type: string
        - name: status
          in: query
          description: 'Use to search for background job logs by job status. If omitted, all job statuses are included. Accepted values: Queued, In Progress, Paused, Completed, Cancelled, Error.'
          schema:
            type: string
        - name: hasItemLevelErrors
          in: query
          description: 'Use to search for background job logs with item-level errors. If omitted, both logs with and without item level errors are included. Accepted values: True, False'
          schema:
            type: boolean
        - name: queueTimeUtcStart
          in: query
          description: 'The beginning date/time used when searching for logs that were queued in a specified time frame. When a value is provided for this parameter, a queueTimeUtcEnd value must also be provided.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: queueTimeUtcEnd
          in: query
          description: 'The ending date/time used when searching for logs that were queued in a specified time frame. When a value is provided for this parameter, a queueTimeUtcStart value must also be provided.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: wasScheduled
          in: query
          description: 'Use to search for background job logs that were scheduled or ran on-demand. If omitted, logs for both scheduled and on-demand background jobs are included.  Accepted values: True, False'
          schema:
            type: boolean
        - name: submittedBy
          in: query
          description: Use to search for background job logs that were manually submitted by a specified user. If omitted, all job submitters including the System are included.
          schema:
            type: string
        - name: filterUpdateTimeUtcStart
          in: query
          description: 'The beginning date/time used when searching for background job logs with updates in a specified time frame. When a value is provided for this parameter, a filterUpdateTimeUtcEnd value must also be provided.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: filterUpdateTimeUtcEnd
          in: query
          description: 'The ending date/time used when searching for background job logs with updates in a specified time frame. When a value is provided for this parameter, a filterUpdateTimeUtcStart value must also be provided.  Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: includeSuppressedTaskTypes
          in: query
          description: 'Used to specify whether commonly suppressed background jobs should be included in the filtered results.  Accepted values: True, False.  Defaults to False.'
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of background job logs meeting the search criteria. Parameters, JobInformation, ErrorInformation, DebugInformation and FileList fields are not retrieved with this call.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_BackgroundJobLog'
            text/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_BackgroundJobLog'
            text/html:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_BackgroundJobLog'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '403':
          description: User does not have access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/BackgroundJobLogs/{backgroundJobLogId}:
    get:
      tags:
        - BackgroundJobLogs
      summary: GET Details of a Background Job Log based on backgroundLogId
      operationId: BackgroundJobLog_Get_By_backgroundJobLogId_clientNamespace
      parameters:
        - name: backgroundJobLogId
          in: path
          description: The identifier of the background job log to retrieve further information.
          required: true
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A background job log that meets the search criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_BackgroundJobLog'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_BackgroundJobLog'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_BackgroundJobLog'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '403':
          description: User does not have access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/BackgroundScreening/Status:
    patch:
      tags:
        - BackgroundScreening
      summary: PATCH (Update) a Background Screening Status for a specific candidate.
      operationId: BackgroundScreening_PatchStatus_By_backgroundScreeningStatus_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The Json payload containing an event and the new status.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningStatus'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningStatus'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningStatus'
        required: true
      responses:
        '200':
          description: The Background Screening request is updated, no response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningStatus'
            text/html:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningStatus'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BackgroundScreening/AdjudicationStatus:
    patch:
      tags:
        - BackgroundScreening
      summary: PATCH (Update) a Background Screening Adjudication Status for a specific candidate.
      operationId: BackgroundScreening_PatchAdjudicationStatus_By_backgroundScreeningAdjudicationStatus_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The Json payload containing an event and the new adjudication status.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningAdjudicationStatus'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningAdjudicationStatus'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningAdjudicationStatus'
        required: true
      responses:
        '200':
          description: The Background Screening request is updated, no response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningAdjudicationStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningAdjudicationStatus'
            text/html:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningAdjudicationStatus'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BackgroundScreening/Package:
    post:
      tags:
        - BackgroundScreening
      summary: POST Background Screening Packages.
      operationId: BackgroundScreening_PostPackage_By_backgroundScreeningPackage_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningPackage'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningPackage'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningPackage'
        required: true
      responses:
        '200':
          description: The Background Screening Packages are added, no response body.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningPackage'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningPackage'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningPackage'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BackgroundScreening/BillingCode:
    post:
      tags:
        - BackgroundScreening
      summary: POST Background Screening Billing Codes.
      operationId: BackgroundScreening_PostBillingCode_By_backgroundScreeningBillingCode_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningBillingCode'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningBillingCode'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningBillingCode'
        required: true
      responses:
        '200':
          description: The Background Screening Billing Codes are added, no response body.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningBillingCode'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningBillingCode'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningBillingCode'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BackgroundScreening/ProviderStatuses:
    post:
      tags:
        - BackgroundScreening
      summary: POST Background Screening Provider Statuses.
      operationId: BackgroundScreening_PostScreeningStatuses_By_statusList_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningProviderStatuses'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningProviderStatuses'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningProviderStatuses'
        required: true
      responses:
        '200':
          description: Custom Provider Statuses are added, no response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningProviderStatuses'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningProviderStatuses'
            text/html:
              schema:
                $ref: '#/components/schemas/BackgroundScreeningProviderStatuses'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BackgroundScreening:
    patch:
      tags:
        - BackgroundScreening
      summary: PATCH Background Screening Status, URL and Report containing PII
      operationId: BackgroundScreening_Patch_By_backgroundScreeningStatusUrlReport_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The Json payload containing Status, Url and Report containing PII.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningStatusUrlReport'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningStatusUrlReport'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningStatusUrlReport'
        required: true
      responses:
        '200':
          description: The Background Screening Status, Url and Report containing PII are added, no response body.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningStatusUrlReport'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningStatusUrlReport'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningStatusUrlReport'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BackgroundScreening/PersonalIdentifiableInformation:
    patch:
      tags:
        - BackgroundScreening
      summary: PATCH Background Screening Report containing Personal Identifiable Informations
      operationId: BackgroundScreening_PatchPII_By_backgroundScreeningReport_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, POST and PATCH operations validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The Json payload with a Report containing Personal Identifiable Informations.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningReport'
          text/json:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningReport'
          text/html:
            schema:
              $ref: '#/components/schemas/BackgroundScreeningReport'
        required: true
      responses:
        '200':
          description: The Background Screening Report containing Personal Identifiable Informations are added, no response body.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningReport'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningReport'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundScreeningReport'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/BenefitsCarrierFeedOngoingExports:
    get:
      tags:
        - BenefitsDFLinkExports
      summary: GET Benefits ongoing carrier feed export in JSON format
      operationId: BenefitsDFLinkExports_GetBenefitsDFLinkOngoingExport_By_carrierXRefCode_planStartDate_planEndDate_payrollEarningAccumulationXRefCodes_blackoutPeriodStartDate_lookBackDays_lookForwardDays_clientNamespace
      parameters:
        - name: carrierXRefCode
          in: query
          description: A reference code that maps to a given carrier.
          required: true
          schema:
            type: string
        - name: planStartDate
          in: query
          description: The plan start date.
          required: true
          schema:
            type: string
            format: date-time
        - name: planEndDate
          in: query
          description: The plan end date.
          required: true
          schema:
            type: string
            format: date-time
        - name: payrollEarningAccumulationXRefCodes
          in: query
          description: A comma delimited list of reference codes, mapping to a list of individual payroll earning accumulations.
          schema:
            type: string
        - name: blackoutPeriodStartDate
          in: query
          description: If applicable, the blackout period start date.
          schema:
            type: string
            format: date-time
        - name: lookBackDays
          in: query
          description: The number of days the export will look back from execution date to find employee elections.
          schema:
            type: integer
            format: int32
        - name: lookForwardDays
          in: query
          description: The number of days the export will look forward from execution date to find employee elections.
          schema:
            type: integer
            format: int32
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: The CarrierFeeds model in json format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/BenefitsCarrierFeedOpenEnrollmentExports:
    get:
      tags:
        - BenefitsDFLinkExports
      summary: GET Benefits open enrollment carrier feed export in JSON format
      operationId: BenefitsDFLinkExports_GetBenefitsDFLinkOpenEnrollmentExport_By_carrierXRefCode_planStartDate_planEndDate_payrollEarningAccumulationXRefCodes_clientNamespace
      parameters:
        - name: carrierXRefCode
          in: query
          description: A reference code that maps to a given carrier.
          required: true
          schema:
            type: string
        - name: planStartDate
          in: query
          description: The plan start date.
          required: true
          schema:
            type: string
            format: date-time
        - name: planEndDate
          in: query
          description: The plan end date.
          schema:
            type: string
            format: date-time
        - name: payrollEarningAccumulationXRefCodes
          in: query
          description: A comma delimited list of reference codes, mapping to a list of individual payroll earning accumulations.
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: The CarrierFeeds model in json format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/BenefitsCarrierFeedMultiCarrierOngoingExports:
    get:
      tags:
        - BenefitsDFLinkMultiCarrierExports
      summary: GET Benefits multi carrier ongoing carrier feed export in JSON format
      operationId: BenefitsDFLinkMultiCarrierExports_GetBenefitsDFLinkMultiCarrierOngoingExport_By_carrierXRefCodes_planStartDate_planEndDate_payrollEarningAccumulationXRefCodes_blackoutPeriodStartDate_lookBackDays_lookForwardDays_clientNamespace
      parameters:
        - name: carrierXRefCodes
          in: query
          description: A comma delimited list of reference codes, mapping to a list of individual carriers.
          required: true
          schema:
            type: string
        - name: planStartDate
          in: query
          description: The plan start date.
          required: true
          schema:
            type: string
            format: date-time
        - name: planEndDate
          in: query
          description: The plan end date.
          required: true
          schema:
            type: string
            format: date-time
        - name: payrollEarningAccumulationXRefCodes
          in: query
          description: A comma delimited list of reference codes, mapping to a list of individual payroll earning accumulations.
          schema:
            type: string
        - name: blackoutPeriodStartDate
          in: query
          description: If applicable, the blackout period start date.
          schema:
            type: string
            format: date-time
        - name: lookBackDays
          in: query
          description: The number of days the export will look back from execution date to find employee elections.
          schema:
            type: integer
            format: int32
        - name: lookForwardDays
          in: query
          description: The number of days the export will look forward from execution date to find employee elections.
          schema:
            type: integer
            format: int32
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: The CarrierFeeds model in json format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/BenefitsCarrierFeedMultiCarrierOpenEnrollmentExports:
    get:
      tags:
        - BenefitsDFLinkMultiCarrierExports
      summary: GET Benefits multi carrier open enrollment carrier feed export in JSON format
      operationId: BenefitsDFLinkMultiCarrierExports_GetBenefitsDFLinkMultiCarrierOpenEnrollmentExport_By_carrierXRefCodes_planStartDate_planEndDate_payrollEarningAccumulationXRefCodes_clientNamespace
      parameters:
        - name: carrierXRefCodes
          in: query
          description: A comma delimited list of reference codes, mapping to a list of individual carriers.
          required: true
          schema:
            type: string
        - name: planStartDate
          in: query
          description: The plan start date.
          required: true
          schema:
            type: string
            format: date-time
        - name: planEndDate
          in: query
          description: The plan end date.
          schema:
            type: string
            format: date-time
        - name: payrollEarningAccumulationXRefCodes
          in: query
          description: A comma delimited list of reference codes, mapping to a list of individual payroll earning accumulations.
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: The CarrierFeeds model in json format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_CarrierFeeds'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_Object'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_Object'
  /{clientNamespace}/V1/CandidateSourcing:
    post:
      tags:
        - CandidateSourcing
      summary: POST a Candidate Application and/or a Candidate Profile
      operationId: CandidateSourcing_Post_By_model_isValidateOnly_clientNamespace
      parameters:
        - name: isValidateOnly
          in: query
          description: When a TRUE value is used in this parameter, this will validate the request without applying updates to the database.
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      requestBody:
        description: The Json payload containing candidate and application details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostingApplicantModel'
          text/json:
            schema:
              $ref: '#/components/schemas/JobPostingApplicantModel'
          text/html:
            schema:
              $ref: '#/components/schemas/JobPostingApplicantModel'
        required: true
      responses:
        '200':
          description: Candidate profile/application have been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response'
            text/json:
              schema:
                $ref: '#/components/schemas/response'
            text/html:
              schema:
                $ref: '#/components/schemas/response'
        '400':
          description: Request is malformed. Correct and resubmit.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/JobPostingQuestionnaires:
    get:
      tags:
        - CandidateSourcing
      summary: GET Job Posting Questionnaires
      operationId: CandidateSourcing_Get_By_jobPostingId_cultureId_clientNamespace
      parameters:
        - name: jobPostingId
          in: query
          description: The job posting id
          required: true
          schema:
            type: integer
            format: int32
        - name: cultureId
          in: query
          description: The culture id to determine the language screening questions
          required: true
          schema:
            type: integer
            format: int32
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of questionnaires for a particular job posting. Each questionnaire section is separated by a page break object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_QuestionModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_QuestionModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_QuestionModel'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/CandidateApplicationStatuses:
    get:
      tags:
        - CandidateSourcing
      summary: GET Candidate Application Statuses
      operationId: CandidateSourcing_Get_By_clientNamespace
      parameters:
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of candidate application statuses for all job applications sent by the provider calling this endpoint. Once the latest unsent application statuses are provided via this endpoint, no further data will be provided on subsequent calls unless further application status updates have been made. This endpoint will return application statuses in tranches of up to 1000 statuses per call and will continue to do so for subsequent calls until all unsent statuses have been provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_CandidateApplicationStatusUpdatesPaginationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_CandidateApplicationStatusUpdatesPaginationModel'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_CandidateApplicationStatusUpdatesPaginationModel'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/JobPostings:
    get:
      tags:
        - CandidateSourcing
      summary: GET Job Postings
      operationId: CandidateSourcing_Get_By_companyName_parentCompanyName_internalJobBoardCode_includeActivePostingOnly_lastUpdateTimeFrom_lastUpdateTimeTo_datePostedFrom_datePostedTo_htmlDescription_clientNamespace
      parameters:
        - name: companyName
          in: query
          description: 'Company name. Example: XYZ Co.'
          schema:
            type: string
        - name: parentCompanyName
          in: query
          description: 'Parent Company name. Example: Ceridian'
          schema:
            type: string
        - name: internalJobBoardCode
          in: query
          description: 'XRefCode of Job Board. Example: CANDIDATEPORTAL'
          schema:
            type: string
        - name: includeActivePostingOnly
          in: query
          description: 'If true, then exclude inactive postings from the result. If False, then the ''Last Update Time From'' and ''Last Update Time To'' parameters are required and the range specified between the ''Last Update Time From'' and ''Last Update Time To'' parameters must not be larger than 1 month. Example: True'
          schema:
            type: boolean
        - name: lastUpdateTimeFrom
          in: query
          description: 'A starting timestamp of last updated job posting. Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: lastUpdateTimeTo
          in: query
          description: 'An ending timestamp of last updated job posting. Example: 2017-02-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: datePostedFrom
          in: query
          description: 'A starting timestamp of job posting date. Example: 2017-01-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: datePostedTo
          in: query
          description: 'An ending timestamp of job posting date. Example: 2017-02-01T13:24:56'
          schema:
            type: string
            format: date-time
        - name: htmlDescription
          in: query
          description: A flag to feed the jobs over with html formatting or plain text description
          schema:
            type: boolean
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of all active external job postings (i.e. public facing job postings) based on specified filter parameters. Each job posting included in the response also includes URLs for Candidate Sourcing and Apply endpoints. Users with access to the Candidate Sourcing and Apply feature should use this endpoint for obtaining job postings rather than GET JobFeeds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_JobFeed'
            text/json:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_JobFeed'
            text/html:
              schema:
                $ref: '#/components/schemas/Payload_IEnumerable_JobFeed'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              example:
                ProcessResults:
                  - Code: string
                    Context: string
                    Level: string
                    Message: string
            text/json: {}
            text/html: {}
  /{clientNamespace}/V1/Certifications:
    get:
      tags:
        - Certification
      summary: GET the list of all certifications
      operationId: Certification_Get_By_pageSize_xRefCode_clientNamespace
      parameters:
        - name: pageSize
          in: query
          description: The page size for the pagination (Default is 1000)
          schema:
            type: integer
            format: int32
        - name: xRefCode
          in: query
          description: The xrefcode filter for the certifications
          schema:
            type: string
        - name: clientNamespace
          in: path
          description: Uniquely identifies the client's Dayforce instance. Is needed to login.
          required: true
          schema:
            type: string
            default: ddn
      responses:
        '200':
          description: A collection of certifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_LMSCertification'
            text/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_LMSCertification'
            text/html:
              schema:
                $ref: '#/components/schemas/PaginatedPayload_IEnumerable_LMSCertification'
        '400':
          description: Request is malformed.  Correct and resubmit.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessResult'
            text/html:
              schema:
[...]
